<h1>Who</h1>
<% if @guests.empty? == true %>
  <p>No Guests</p>
<% else %>
  <% @guests.each do |guest| %>
    <p><%= guest.name %></p>
    <p><%= guest.email %></p>
    <p><%= guest.phone_number %></p>
    <p><%= guest.attending %></p>
    <p><%= guest.paid %></p>
    <%= link_to "Delete", guest_path(guest), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  <% end %>
<% end %>
