<br>
<div class="text-center">
 <h1>Add Guest</h1>
 </div>
<div class="form-body overlay">
  <div class="form-container">
    <div class="container container-form">
    <br>
      <%= simple_form_for [@event, @guest] do |f| %>
      <div class="text-center">
        <%= f.input :name, label: "Full Name"%>
        <%= f.input :email %>
        <%= f.input :phone_number, label: "Phone Number" %>
      </div>
        <%= f.input :photo, as: :file %>
        <%= f.input :attending %>
        <%= f.input :paid %>
        <div class = "pt-2" style="text-align:center">
          <%= f.button :submit, class: "btn-flat-gold-blk", style: "font-size: 22px"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<div class="text-center">
<%= link_to event_guests_path(current_user.event_id) do %>
<i class="fa-solid fa-left-long" style= "font-size:20px; color:black"></i>
<% end %>
</div>
<div class="footer-spacer"></div>
<div class="footer-spacer"></div>
<%= render "shared/footer" %>
