<h1>THE DO<%=@event.name%></h1>
<p><%= @event.start_date %></p>
<p><%= @event.location %></p>

<%= link_to "Who", # %>
<%= link_to "Play", # %>
<%= link_to "Eat", # %>
<%= link_to "Stay" %>
<%= link_to "Go", # %>
<%= link_to "Plan", # %>

<%= link_to "Edit Do", edit_event_path %>
<%= link_to "Delete",
  event_path(@event),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
