<div class="container text-center">
  <h1><span style="color: #C8A323"><%=@event.name%>'s</span> DO</h1>
  <div class="d-flex flex-row justify-content-center">
    <div class="p-2"><p><i class="fa-solid fa-calendar"></i> <%= @event.start_date %></p></div>
    <div class="p-2"><p><i class="fa-solid fa-location-pin"></i> <%= @event.location %></p></div>
  </div>
</div>

<div class ="cards m-3">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'who.jpg' %>)">
    Who
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'play.jpg' %>)">
    Play
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'food.jpg' %>)">
    Eat
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'stay.jpg' %>)">
    Stay
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'TAXI.jpg' %>)">
    Go
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'plan.jpg' %>)">
    Plan
  </div>
</div>
