
<% if user_signed_in? %>
<h1 class='text-center bg-white title mb-0 p-0'>The D<span style="color: #C8A323;">O</span></h1>
<p class='text-center bg-white sub-h mt-0 p-0' style="color: rgba(0,0,0,0.4)">Do it right.</p>
<div class="banner d-flex justify-content-center align-items-center" id="top-banner">
  <div class="text-center">
    <h2 class="mx-auto mb-4">Don't let your bestie down</h2>
    <%= link_to 'PLAN YOUR DO', event_path(current_user.event_id), class: "btn-flat-gold mb-2", style: "font-weight: bold"%>
    <p class="mt-3">The ultimate DO planning app</p>
  </div>
</div>
<div class="container info">
  <h2 class="text-center mt-3">What does the D<span style="color: #C8A323">O</span> do?</h2>
  <p class="text-center">The D<span style="color: #C8A323;">O</span> is here to support you on the to journey of organising your bestie's D<span style="color: #C8A323;">O</span></p>
  <div class="info-card mt-3">
    <%= image_tag 'message.jpg'%>
    <div class="info-card-infos">
      <div>
        <h2>Track and message your guests</h2>
        <p>send reminders with one click and keep track of who's attending and paid with the touch of a button</p>
      </div>
    </div>
  </div>
  <div class="info-card mt-3">
    <%= image_tag('progress.jpg') %>
    <div class="info-card-infos">
      <div>
        <h2>See your progress</h2>
        <p>Progress bars to help you meet your goals and do the best for your bestie </p>
      </div>
    </div>
  </div>
  <div class="info-card my-3">
    <%= image_tag('remind.jpg') %>
    <div class="info-card-infos">
      <div>
        <h2>Automated reminders</h2>
        <p>Automated reminders to do key actions in time to have the best DO</p>
      </div>
    </div>
  </div>
</div>

<div class="banner d-flex justify-content-center align-items-center" id="features-banner">
  <div class="text-center ">
      <div class="w-75 mx-auto">
        <h3>The DO Promise</h3>
        <p class="mb-4">We can't promise this is the only DO your bestie will ever have, but with the DO it will be the best</p>
        <%= link_to 'START NOW', new_user_registration_path, class: "btn-flat-gold mb-2"%>
      </div>
  </div>
</div>

<div class="feature-grid">
  <div class="d-flex justify-content-center flex-column text-center py-5 feature ">
    <i class="fa-solid fa-bars-progress" style="color: #C8A323; font-size: 2rem"></i>
    <p>Progress Tracker</p>
  </div>
  <div class="d-flex justify-content-center flex-column text-center py-5 feature">
    <i class="fa-solid fa-star" style="color: #C8A323; font-size: 2rem"></i>
    <p>Book Activities</p>
  </div>
  <div class="d-flex justify-content-center flex-column text-center py-5 feature">
    <i class="fa-solid fa-bus" style="color: #C8A323; font-size: 2rem"></i>
    <p>Check Travel</p>
  </div>
  <div class="d-flex justify-content-center flex-column text-center py-5 feature">
    <i class="fa-solid fa-utensils" style="color: #C8A323; font-size: 2rem"></i>
    <p>Book Food</p>
  </div>
  <div class="d-flex justify-content-center flex-column text-center py-5 feature">
    <i class="fa-solid fa-bed" style="color: #C8A323; font-size: 2rem"></i>
    <p>Find Stays</p>
  </div>
  <div class="d-flex justify-content-center flex-column text-center py-5 feature mb-5">
    <i class="fa-solid fa-circle-check" style="color: #C8A323; font-size: 2rem"></i>
    <p>Perfect your Plan</p>
  </div>
</div>
<%= render "shared/footer" %>

<% else %>

<h1 class='text-center bg-white title mb-0 p-0'>The D<span style="color: #C8A323;">O</span></h1>
<p class='text-center bg-white sub-h mt-0 p-0' style="color: rgba(0,0,0,0.4)">Do it right.</p>
<div class="banner d-flex justify-content-center align-items-center" id="top-banner">
  <div class="text-center">
    <h2 class="mx-auto mb-3">Don't let your bestie down</h2>
    <p class="mt-3">The ultimate DO planning app</p>
    <div class="d-inline-flex flex-column">
        <%= link_to 'LOG IN', new_user_session_path, class: "btn-flat-gold mb-2", style: "font-size:24px"%>
        <%= link_to 'Plan your DO', new_user_registration_path, class: "btn-flat-gold mb-2"%>
    </div>
  </div>
</div>
<div class="container info">
  <h2 class="text-center mt-3">What does the D<span style="color: #C8A323">O</span> do?</h2>
  <p class="text-center">The D<span style="color: #C8A323;">O</span> is here to support you on the to journey of organising your bestie's D<span style="color: #C8A323;">O</span></p>
  <div class="info-card mt-3">
    <%= image_tag 'message.jpg'%>
    <div class="info-card-infos">
      <div>
        <h2>Track and message your guests</h2>
        <p>send reminders with one click and keep track of who's attending and paid with the touch of a button</p>
      </div>
    </div>
  </div>
  <div class="info-card mt-3">
    <%= image_tag('progress.jpg') %>
    <div class="info-card-infos">
      <div>
        <h2>See your progress</h2>
        <p>Progress bars to help you meet your goals and do the best for your bestie </p>
      </div>
    </div>
  </div>
  <div class="info-card my-3">
    <%= image_tag('remind.jpg') %>
    <div class="info-card-infos">
      <div>
        <h2>Automated reminders</h2>
        <p>Automated reminders to do key actions in time to have the best DO</p>
      </div>
    </div>
  </div>
</div>

<div class="banner d-flex justify-content-center align-items-center" id="features-banner">
  <div class="text-center ">
      <div class="w-75 mx-auto">
        <h3>The DO Promise</h3>
        <p class="mb-4">We can't promise this is the only DO your bestie will ever have, but with the DO it will be the best</p>
        <%= link_to 'START NOW', new_user_registration_path, class: "btn-flat-gold mb-2"%>
      </div>
  </div>
</div>

<div class="feature-grid">
  <div class="d-flex justify-content-center flex-column text-center py-5 feature ">
    <i class="fa-solid fa-bars-progress" style="color: #C8A323; font-size: 2rem"></i>
    <p>Progress Tracker</p>
  </div>
  <div class="d-flex justify-content-center flex-column text-center py-5 feature">
    <i class="fa-solid fa-star" style="color: #C8A323; font-size: 2rem"></i>
    <p>Book Activities</p>
  </div>
  <div class="d-flex justify-content-center flex-column text-center py-5 feature">
    <i class="fa-solid fa-bus" style="color: #C8A323; font-size: 2rem"></i>
    <p>Check Travel</p>
  </div>
  <div class="d-flex justify-content-center flex-column text-center py-5 feature">
    <i class="fa-solid fa-utensils" style="color: #C8A323; font-size: 2rem"></i>
    <p>Book Food</p>
  </div>
  <div class="d-flex justify-content-center flex-column text-center py-5 feature">
    <i class="fa-solid fa-bed" style="color: #C8A323; font-size: 2rem"></i>
    <p>Find Stays</p>
  </div>
  <div class="d-flex justify-content-center flex-column text-center py-5 feature">
    <i class="fa-solid fa-circle-check" style="color: #C8A323; font-size: 2rem"></i>
    <p>Perfect your Plan</p>
  </div>
</div>
<% end %>
