<div class="sign-in">
  <br>
  <br>
  <br>
  <br>
  <%= image_tag("logo.png")%>
  <br>
  <br>
  <br>
  <br>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
    <div class="form-inputs" id="form">
      <%= f.input :email,
                  label: false,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  placeholder: "Email address",
                  class: 'bg-white' %>
      <%= f.input :password,
                  label: false,
                  required: false,
                  input_html: { autocomplete: "current-password" },
                  placeholder: "Password" %>
    </div>

    <div class="form-actions pt-2">
      <%= f.button :submit, "Login", class: "btn-flat-gold", style:
    "font-size: 22px;
    padding: 4px 38px;"%>
    </div>
  <% end %>
  <br>

  <div>
    <%= render "devise/shared/links" %>
  </div>

    <div class="text-center">
  <%= link_to :back do %>
  <i class="fa-solid fa-left-long" style= "font-size:20px; color:grey; padding-top:10px"></i>
  <% end %>
</div>
</div>

<div class="d-flex justify-content-center">
<%= image_tag("couple.jpg", height: '300', style: 'margin-top: 40px') %>
</div>
