<body>
<h1 class="d-flex justify-content-center" ><strong>Eat</strong> </h1>
<br>
<h2 class="recommended-activity-title">Top 5 Restaurants in <span style='color: #E5B705;'><strong><%= "#{@event.location}"%></strong></span></h2></div>

<div class="recommended-activities" style="padding-top: 18px;" >
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <% @top_activities.each_with_index do |activity, index| %>
        <div class="carousel-item <%= "active" if index == 0 %>" data-controller="mod">
          <div class="top-activities">
            <div class="book-now" data-action="click->mod#open">
                BOOK NOW
              </div>
            <%# <i class="fa-solid fa-star" id="restaurant-star-saved"></i> - for when item is saved (solid star) %>
            <i class="fa-regular fa-star" id="activity-star"></i>
            <%= image_tag activity.image_url %>
            <div class="carousel-caption d-block" id="activity-name">
              <h5><%= activity.name %></h5>
            </div>
          </div>
          <%# MODAL %>
          <div class="modal" tabindex="-1" role="dialog" data-mod-target="modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Book <%= activity.name %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-action="click->mod#close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%# FORM to create go activity %>
                    <%= simple_form_for [@event, @new_plan] do |f| %>
                    <%= f.input :date, as: :date, html5: true %>
                    <%= f.input :start_time, default: Time.parse('8:00')%>
                    <%= f.input :end_time, default: Time.parse('22:00')  %>
                    <%# <%= f.input :end_time, as: :hidden, html5: true, input_html: {value: asc_time_plans[index + 1].start_time} %> %>
                    <%= f.input :activity_id, as: :hidden, html5: true, input_html: {value: activity} %>
                    <%= f.submit class: "btn-flat-gold-blk", style: "font-size: 20px"%>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn-flat-gold">Save changes</button>
                  <button type="button" class="btn-flat-gold" data-dismiss="modal" data-action="click->mod#close">Close</button>
                </div>
              </div>
            </div>
          </div>
          <%# MODAL END %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<br>

<h2 class="mx-2 d-flex justify-content-center" style="margin-top: 25px;">Saved Favourites</h2>

<div class="saved-favourites mx-2">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="saved-favourites-items justify-content-center" style="position: relative; top: 5px;">
          <div class="saved-fave-card mx-1">
            <%= image_tag("eat/restaurant 3.jpg", style: "width: 100", class: 'd-block', style: 'width:100%; height:50px; border-radius: 4px') %>
            <p id="saved-fave-name">Dishoom</p>
            <%# <ul class="saved-fave-notes">
              <li>Close</li>
              <li>Expensive</li>
            </ul> %>
          </div>
          <div class="saved-fave-card mx-1">
            <%= image_tag("eat/restaurant 2.jpg", style: "width: 100", class: 'd-block', style: 'width:100%; height:50px; border-radius: 4px') %>
            <p id="saved-fave-name">Nandos</p>
            <%# <ul class="saved-fave-notes">
              <li>Close</li>
              <li>Expensive</li>
            </ul> %>
          </div>
          <div class="saved-fave-card mx-1">
            <%= image_tag("eat/restaurant 1.jpg", style: "width: 100", class: 'd-block', style: 'width:100%; height:50px; border-radius: 4px') %>
            <p id="saved-fave-name">Pret</p>
            <%# <ul class="saved-fave-notes">
              <li>Close</li>
              <li>Expensive</li>
            </ul> %>
          </div>
          <div class="saved-fave-card mx-1">
            <%= image_tag("aquashard.jpg", style: "width: 100", class: 'd-block', style: 'width:100%; height:50px; border-radius: 4px') %>
            <p id="saved-fave-name">Paul's</p>
            <%# <ul class="saved-fave-notes">
              <li>Close</li>
              <li>Expensive</li>
            </ul> %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<br>
<br>
<h2 class="mx-2" id="find-activity-title" style="margin-bottom: 20px;">Find a restaurant</h2>
    <div style="padding-left: 30px; padding-right: 30px;">
      <%= form_tag eat_activities_path(current_user.event_id), method: :get, class: "d-flex", id: "search-bar" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search restaurants in #{@event.location}" %>
        <%= submit_tag "Search", class: "btn btn-dark" %>
      <% end %>
    </div>
<%# <input class="form-control" id="search-activity-form" type="text" placeholder="Search restaurants in <%= "#{@event.location}"%>
<br>
<br>
<h2 class="d-flex justify-content-center" style="margin-bottom: 27px;"> Browse all Restaurants</h2>
<div class="browse container">
  <% @activities.each do |activity| %>
    <div class="browse-activities-card" data-controller="mod">
      <%= image_tag activity.image_url || "eat/restaurant 1"%>
      <div class="book-now" data-action="click->mod#open">
        BOOK NOW
      </div>
      <div class="modal" tabindex="-1" role="dialog" data-mod-target="modal">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Book <%= activity.name %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-action="click->mod#close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%# FORM to create go activity %>
                          <%= simple_form_for [@event, @new_plan] do |f| %>
                          <%= f.input :date, as: :date, html5: true %>
                          <%= f.input :start_time, default: Time.parse('8:00')%>
                          <%= f.input :end_time, default: Time.parse('22:00')  %>
                          <%= f.input :activity_id, as: :hidden, html5: true, input_html: {value: activity} %>
                          <%= f.submit class: "btn-flat-gold-blk", style: "font-size: 20px"%>
                        <% end %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn-flat-gold">Save changes</button>
                        <button type="button" class="btn-flat-gold" data-dismiss="modal" data-action="click->mod#close">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
      <i class="fa-regular fa-star" id="activity-star"></i>
      <div class="browse-activity-card-bottom">
        <div class="browse-activity-card-title-box">
          <div>
            <h4><strong><%= activity.name %></strong></h4>
          </div>
          <%# <div>
            <p class="rating-button">4.5</p>
          </div> %>
        </div>
        <%# <div id="browse-activity-info-detail-box">
        <p>Some info about the restaurant - yum !!</p>
        </div> %>
        <div class="browse-activity-review-box">
          <div>
            <p style="padding-top: 8px; font-size: 18px; ;"><%= activity.details %></p>
            <p style="position: relative; bottom: 15px; padding-bottom: 1px; font-size: 16px;"><%= activity.address %></p>

          </div>
          <%# <p><strong>Reviews:</strong></p> %>
          <%# <div class="review-each">
            <div>
              <p>Great for large groups! Really good service!!</p>
            </div>
            <div class="star-review">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </div>
          </div> %>
          <%# <div class="review-each">
            <div>
              <p>Food came a bit cold. Nice outside area.</p>
            </div>
            <div class="star-review">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div> %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <br>
  <div class="footer-spacer"></div>
  <%= render "shared/footer" %>

<%# ATTEMPTED IMAGE TAG -  <% @activities.each do |restaurant| %>
<%# <%= restaurant.name %>
<%# <%= image_tag("#{restaurant.image}") %>
<%# <% end %>

</body>
