<div class="container text-center">
<h1><span style="color: $gold"><%=@event.name%>'s</span> DO</h1>

<% @activities.each do |activity| %>
<div class="d-flex flex-row">
  <div class="d-flex flex-row">
    <p>Start Time :</p>
    <%= activity.start_time.to_fs(:time) %>
    </div>
    <div>
    <div class="d-flex flex-row">
      <%= activity.name %>
      <br>
      <%= activity.address %>
     </div>
      <br>
    </div>
    </div>
<% end %>
</div>

<%= render "shared/footer" %>
